// Theme
*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}

html {
    // height: 100%;
    font-size: 17px;
    background-color: #fff;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 20px;
}

a {
    color: #333;
    text-decoration: none;
    outline: none;
    text-transform: capitalize;
    padding: 2px;
    display: inline-block;
    line-height: 1;
    
    &:hover {
        color: red;
    }
}

ul {
    margin: 0px;
}

li {
    margin-bottom: 1px;
    list-style: circle;
}

@media (max-width: 1023px) {
    a {
        padding: 5px;
    }
}